---
services:
  airflow:
    environment:
      - BACKEND=cockroachdb
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=cockroachdb+psycopg2://root@cockroachdb:26257/airflow
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN_ASYNC=cockroachdb+asyncpg://root@cockroachdb:26257/airflow
      - AIRFLOW__CELERY__RESULT_BACKEND=db+cockroachdb://root@cockroachdb:26257/airflow


    depends_on:
      - airflowinit

  airflowinit:
    container_name: airflowinit
    image: cockroachdb/cockroach:v${COCKROACHDB_VERSION}
    depends_on:
      cockroachdb:
        condition: service_healthy
    command: sql --host=cockroachdb:26257 --insecure -e 'CREATE DATABASE IF NOT EXISTS airflow'

  cockroachdb:
    container_name: cockroachdb
    image: cockroachdb-haproxy
    build:
      context: .
      dockerfile: Dockerfile.cockroachdb-haproxy
    ports:
      - "8088:8080"
      - "26257:26257"
    depends_on:
      roachinit:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 5s
      timeout: 5s
      retries: 10

  roach0:
    container_name: roach0
    image: cockroachdb/cockroach:v${COCKROACHDB_VERSION}
    command: start --insecure --listen-addr=roach0:26257 --http-addr=roach0:8080 --join=roach0,roach1,roach2 --store=/cockroach/cockroach-data
    volumes:
      - roach0-data:/cockroach/cockroach-data

  roach1:
    container_name: roach1
    image: cockroachdb/cockroach:v${COCKROACHDB_VERSION}
    depends_on:
      - roach0
    command: start --insecure --listen-addr=roach1:26257 --http-addr=roach1:8080 --join=roach0,roach1,roach2 --store=/cockroach/cockroach-data
    volumes:
      - roach1-data:/cockroach/cockroach-data

  roach2:
    container_name: roach2
    image: cockroachdb/cockroach:v${COCKROACHDB_VERSION}
    depends_on:
      - roach1
    command: start --insecure --listen-addr=roach2:26257 --http-addr=roach2:8080 --join=roach0,roach1,roach2 --store=/cockroach/cockroach-data
    volumes:
      - roach2-data:/cockroach/cockroach-data

  roachinit:
    container_name: roachinit
    image: cockroachdb/cockroach:v${COCKROACHDB_VERSION}
    depends_on:
      - roach2
    entrypoint: >
      /bin/sh -c "./cockroach.sh init --host=roach0:26257 --insecure; exit 0"


volumes:
  roach0-data:
  roach1-data:
  roach2-data:
